[Desktop Entry]
Name=JetbrainsRunner
Comment=Runner to open your recent JetBrains projects
Icon=/usr/share/icons/jetbrains.png

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_jetbrainsrunner
X-KDE-PluginInfo-Author=Alex1701c
X-KDE-PluginInfo-Email=alexkp12355@gmail.com
X-KDE-PluginInfo-Name=jetbrainsrunner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-EnabledByDefault=true
