[Desktop Entry]
Name=JetbrainsRunner
Comment=Runner to open your recent JetBrains projects
Icon=jetbrainsrunner

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_jetbrainsrunner
X-KDE-PluginInfo-Author=Alex1701c
X-KDE-PluginInfo-Email=alex1701c.dev@gmx.net
X-KDE-PluginInfo-Website=https://github.com/alex1701c/JetBrainsRunner
X-KDE-PluginInfo-Name=jetbrainsrunner
X-KDE-PluginInfo-Version=1.4.0
X-KDE-PluginInfo-License=LGPL 3
X-KDE-PluginInfo-EnabledByDefault=true
